.right-align {
    text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}

input.right-align {
    -moz-appearance: textfield;
}

.width-10 {
    width: 20%;
}

.form-field {
    margin: 10px;
}